/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*,*:before,*:after{
    box-sizing: border-box;
}





.wrap{
	background: #424242;
	height: 400px;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
.imgPage{
	padding-right: 50px;
}
.content{
	display: flex;
}
.clearfix{
	overflow: auto;
zoom: 1;
  }
.set{
	font-size: 21px;
	color: #FFD366;
}
.send{
	background: #FFD366;
box-shadow: 0 1px 6px 3px rgba(255,196,50,0.64);
	border-radius: 50% ;
	width: 115px;
	height: 120px;
	margin-left: 30px;
	margin-top: 30px;
}
.Text{
	background: rgba(255,255,255,0.18);
	border: 1px solid #FFD366;
	border-radius: 10px;
	width: 200px;
	height: 40px;
	display: flex;
	margin-top: 5px;
}
.height{
	margin-bottom: 25px;
}
::placeholder{
font-size: 16px;
color: rgba(255,255,255,0.50);
}
h1{
	text-align: center;
	font-size: 30px;
	padding-top:50px ;
}
.bmiRecord{
	height: 500px;
	background:#f5f5f5;
}

.imgLogo{
	display: block;
	background: #FFD366;

}
.imgLogo img{
	margin: 0 auto ;
	width: 55px;
	height: 55px;
}
img{
	width: 100%;
	display: block;
}
.image{
	display: block;
	padding-top: 14px;
	padding-bottom: 14px;
}
  
.blue {
	position: relative;
	border-radius: 50%;
	width: 120px;
	height: 120px;
	background-color: #424242;
	border: 6px solid #31BAF9;
	margin: 50px;
  }
  .blue .circular {
	position: absolute;
	left: 80px;
	bottom: 0px;
	width: 30px;
	height: 30px;
	border: 3px solid #424242;
	border-radius: 50%;
	background-image: url(https://github.com/Jimmywei01/Pratice/blob/master/icons_loop.png?raw=true);
	background-repeat: no-repeat;
	background-position: center;
	background-color: #31BAF9;
  }
  .blue .value {
	margin-top: 5px;
	font-family: AppleSystemUIFont;
	font-size: 32px;
	color: #31BAF9;
	line-height: 21px;
  }
  .blue .bmi {
	margin-top: 4px;
	font-size: 14px;
	color: #31BAF9;
  }
  
  
  .green {
	position: relative;
	border-radius: 50%;
	width: 120px;
	height: 120px;
	background-color: #424242;
	border: 6px solid #86D73F;
	margin: 50px;
  }
  .green .circular {
	position: absolute;
	left: 80px;
	bottom: 0px;
	width: 30px;
	height: 30px;
	border: 3px solid #424242;
	border-radius: 50%;
	background-image: url(https://github.com/Jimmywei01/Pratice/blob/master/icons_loop.png?raw=true);
	background-repeat: no-repeat;
	background-position: center;
	background-color: #86D73F;
  }
  .green .value {
	margin-top: 5px;
	font-family: AppleSystemUIFont;
	font-size: 32px;
	color: #86D73F;
	line-height: 21px;
  }
  .green .bmi {
	margin-top: 4px;
	font-size: 14px;
	color: #86D73F;
  }
  
  
  .orange1 {
	position: relative;
	border-radius: 50%;
	width: 120px;
	height: 120px;
	background-color: #424242;
	border: 6px solid #FF982D;
	margin: 50px;
  }
  .orange1 .circular {
	position: absolute;
	left: 80px;
	bottom: 0px;
	width: 30px;
	height: 30px;
	border: 3px solid #424242;
	border-radius: 50%;
	background-image: url(https://github.com/Jimmywei01/Pratice/blob/master/icons_loop.png?raw=true);
	background-repeat: no-repeat;
	background-position: center;
	background-color: #FF982D;
  }
  .orange1 .value {
	margin-top: 5px;
	font-family: AppleSystemUIFont;
	font-size: 32px;
	color: #FF982D;
	line-height: 21px;
  }
  .orange1 .bmi {
	margin-top: 4px;
	font-size: 14px;
	color: #FF982D;
  }
  
  
  .orange2 {
	position: relative;
	border-radius: 50%;
	width: 120px;
	height: 120px;
	background-color: #424242;
	border: 6px solid #FF6C02;
	margin: 50px;
  }
  .orange2 .circular {
	position: absolute;
	left: 80px;
	bottom: 0px;
	width: 30px;
	height: 30px;
	border: 3px solid #424242;
	border-radius: 50%;
	background-image: url(https://github.com/Jimmywei01/Pratice/blob/master/icons_loop.png?raw=true);
	background-repeat: no-repeat;
	background-position: center;
	background-color: #FF6C02;
  }
  .orange2 .value {
	margin-top: 5px;
	font-family: AppleSystemUIFont;
	font-size: 32px;
	color: #FF6C02;
	line-height: 21px;
  }
  .orange2 .bmi {
	margin-top: 4px;
	font-size: 14px;
	color: #FF6C02;
  }
  
  
  .red {
	position: relative;
	border-radius: 50%;
	width: 120px;
	height: 120px;
	background-color: #424242;
	border: 6px solid #FF1200;
	margin: 50px;
  }
  .red .circular {
	position: absolute;
	left: 80px;
	bottom: 0px;
	width: 30px;
	height: 30px;
	border: 3px solid #424242;
	border-radius: 50%;
	background-image: url(https://github.com/Jimmywei01/Pratice/blob/master/icons_loop.png?raw=true);
	background-repeat: no-repeat;
	background-position: center;
	background-color: #FF1200;
  }
  .red .value {
	margin-top: 5px;
	font-family: AppleSystemUIFont;
	font-size: 32px;
	color: #FF1200;
	line-height: 21px;
  }
  .red .bmi {
	margin-top: 4px;
	font-size: 14px;
	color: #FF1200;
  }
  
  #blue {
	position: absolute;
	left: 0;
	background: #31BAF9;
	box-shadow: 2px 0 3px 0 rgba(133, 215, 63, 0.29);
	width: 7px;
	height: 62px;
  }
  
  #green {
	position: absolute;
	left: 0;
	background: #86D73F;
	box-shadow: 2px 0 3px 0 rgba(133, 215, 63, 0.29);
	width: 7px;
	height: 62px;
  }
  
  #orange1 {
	position: absolute;
	left: 0;
	background: #FF982D;
	box-shadow: 2px 0 3px 0 rgba(133, 215, 63, 0.29);
	width: 7px;
	height: 62px;
  }
  
  #orange2 {
	position: absolute;
	left: 0;
	background: #FF6C02;
	box-shadow: 2px 0 3px 0 rgba(133, 215, 63, 0.29);
	width: 7px;
	height: 62px;
  }
  
  #red {
	position: absolute;
	left: 0;
	background: #FF1200;
	box-shadow: 2px 0 3px 0 rgba(133, 215, 63, 0.29);
	width: 7px;
	height: 62px;
  }
  
  .list li{
    border-left:solid 7px none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
    width: auto;
    height: 62px;
    background: white;
    box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.2);
}
.list{
    margin: 0 auto;
    width: 624px;
    height: auto;
    list-style-type: none;
    display: flex;
    flex-direction: column;
}
.list .status {
  font-size: 20px;
  color: #4A4A4A;
}
.list .box {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.list .box .bmiName {
  margin-right: 7px;
  font-size: 12px;
  color: #424242;
}
.list .box .value {
  margin-right: 7px;
  font-size: 22px;
  color: #424242;
}
.list .data {
  font-size: 12px;
  color: #424242;
}
.list img {
  width: 25px;
}